body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

/* Estilos del encabezado */
.encabezado {
    text-align: center;
    background-color: #54c3a9;
    color: white;
    padding: 20px 0;
}

.encabezado h1 {
    font-size: 60px;
}

/* Estilos del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo-texto,
.seleccion-mes {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos del botón de submit */
#btn-submit {
    background-color: #54c3a9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btn-submit:hover {
    background-color: #1e40af;
}

/* Estilos de la lista de ciudades */
#ciudades-agregadas {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ciudades-lista {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding-left: 0;
}

/* Estilos de cada elemento de la lista */
.ciudades-lista li {
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ciudades-lista button {
    background-color: #54c3a9;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    flex-shrink: 0;

}

.ciudades-lista button:hover {
    background-color: #1e40af;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 600px) {
    .encabezado h1 {
        font-size: 40px; /*Tamaño del titulo más pequeño*/
    }
    
}